.power {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3rem;
  width: 3rem;

  border: 2px solid #333;
  border-radius: 50%;

  font-size: 1rem;

  background-color: transparent;
}

.power.is-on {
  border-color: hsl(154, 95%, 35%);
  color: hsl(154, 95%, 35%);
}

.power.is-on .power-icon svg {
  fill: hsl(154, 95%, 35%);
}

.power.is-on:hover {
  border-color: hsl(154, 95%, 45%);
  color: hsl(154, 95%, 45%);
}

.power.is-on:hover .power-icon svg {
  fill: hsl(154, 95%, 45%);
}

.power.is-off {
  border-color: hsl(10, 85%, 40%);
  color: hsl(10, 85%, 40%);
}

.power.is-off .power-icon svg {
  fill: hsl(10, 85%, 40%);
}

.power.is-off:hover {
  border-color: hsl(10, 85%, 55%);
  color: hsl(10, 85%, 55%);
}

.power.is-off:hover .power-icon svg {
  fill: hsl(10, 85%, 55%);
}
